<!-- En la carpeta partials incluimos todas las vistas que se van a repitir en nuestro codigo para despues incluirlo en las demas vistas. -->

<head>
    <title>
        <%= title %>
    </title> <!-- <%= title %>  declaramos la  variable title y lo modificamos en el controler.js-->
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>